@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-gruvbox-bg text-gruvbox-fg font-mono antialiased select-none;
    -webkit-user-select: none;
    user-select: none;
  }
  img {
    @apply pointer-events-none select-none;
    -webkit-user-drag: none;
  }
}
